<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
  <title>Create A Basketball Team</title>
 </head>
 <body>
  <h1>Create a Basketball Team!</h1>
 <form method="POST" action="/team">

   <p>Team Name: <input type="text" name="name" placeholder="Enter Team name"></p>
   <p>Coach: <input type="text"  name="coach" placeholder="Enter Coach"></p>
   <p>Point Guard: <input type="text"  name="pg" placeholder="Enter Point Guard"></p>
   <p>Shooting Guard: <input type="text"  name="sg" placeholder="Enter Shooting Guard"></p>
   <p>Power Forward: <input type="text"  name="pf" placeholder="Enter Power Forward"></p>
   <p>Small Forward: <input type="text"  name="sf" placeholder="Enter Small Forward"></p>
   <p>Center: <input type="text"  name="c" placeholder="Enter Center"></p>
    <input type="submit" id="Submit">


 </form>

 </body>
</html>


