<!DOCTYPE html>
<html>
 <head>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">   
   <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <h1>Create a Basketball Team!</h1>
 <form method="POST" action="/newteam">

 <p> Team Name: <input type="text" class="form-control" name="name" id="name" placeholder="Enter Team name"></p>
  <p> Team Name: <input type="text" class="form-control" name="name" id="name" placeholder="Enter Team name"></p>

   

   <div class="form-group">
      <label for="name">Coach:</label>
      <input type="text" class="form-control" name="coach" id="name" placeholder="Enter Coach">
   </div>

   <div class="form-group">
      <label for="name">Point Guard:</label>
      <input type="text" class="form-control" name="pg" id="name" placeholder="Enter Point Guard">
   </div>

   <div class="form-group">
      <label for="name">Shooting Guard:</label>
      <input type="text" class="form-control" name="sg" id="name" placeholder="Enter Shooting Guard">
   </div>

   <div class="form-group">
      <label for="name">Power Forward:</label>
      <input type="text" class="form-control" name="pf" id="pf" placeholder="Enter Power Forward">
   </div>

   <div class="form-group">
      <label for="name">Small Forward:</label>
      <input type="text" class="form-control" name="sf" id="name" placeholder="Enter Small Forward">
   </div>

   <div class="form-group">
      <label for="name">Center:</label>
      <input type="text" class="form-control" name="c" id="name" placeholder="Enter Center">
   </div>

    <input type="submit" id="Submit">


 </form>

 </body>
</html>


